@font-face {
    src: url(../cherafro/FontsFree-Net-cor3.ttf);
    font-family: "chiraPro", sans-serif;
}
@font-face {
    src: url(../axit/FontsFree-Net-Axiforma3woff2.ttf);
    font-family: "axit", sans-serif;
}
@font-face {
    src: url(../gilroy/Gilroy-Light.otf);
    font-family: "gilroy", sans-serif;
}
$chiraPro: "chiraPro", sans-serif;
$axit: "axit", sans-serif;
$gilroy: "gilroy", sans-serif;
